<!DOCTYPE html>
<html>

<head>
    <title> {{ article.article_title }}</title>
</head>

<body>
    <div class = "article">
        <h1>{{ article.article_title}} </h1>
        <a href = "{% url 'blog:index' %}">Back to Index </a>
        <div class = "content">
            <p>{{ article.article_content }} </p>
            <p class = 'meta'>Article posted by {{ article.author }} on {{article.post_date }}. </p>

        </div>
        <div class = "comments">

            {% for c in article.comment_set.all %}
                <div class = "comment">
                    <p> {{ c.comment }} </p>
                    <p class = 'meta'> {{ c.author }}, {{ c.post_date }}</p>
                </div>
            {% endfor %}

        </div>
        <div class = "comment-form">

            <form action = "{% url 'blog:add_comment' article.pk %}" method = "post">
                {% csrf_token%}
                
                <input type = "text" name = "author" placeholder ="Enter your Name" value = "test">
                <input type = "text" name = "comment" placeholder ="Enter your Comment" value = "testtext">
                <button type = "submit"> Submit Comment </button>
            </form>
            
        </div>
    </div>
</body>
</html>